name: Update 3D Pacman Contributions

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v3
        
      - name: Generate 3D Pacman Chart
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          github_user_name: Lucas-ZC
          settings_template: classic 
          auto_commit: true
          commit_message: 'Update 3D contribution graph'
          git_profile_name: 'github-actions[bot]'
          
      - name: Upload to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'profile-3d-contrib/'
        
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
